In [1]:
#start spark session
import findspark
findspark.init()
from pyspark import SparkContext
sc=SparkContext()
sc

In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.getOrCreate()
spark

## Try Data 2019

In [100]:
data1 = spark.read\
  .format('csv')\
  .option('header', 'false')\
  .option('inferSchema', 'true')\
  .load("s3://open-data-noaa/2019samples")

In [102]:
data1.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)
 |-- _c20: string (nullable = true)
 |-- _c21: string (nullable = true)
 |-- _c22: string (nullable = true)
 |-- _c23: string (nullable = true)
 |-- _c24: string (nullable = true)
 |-- _c25: string (nullable = true)
 |-- _c26: string (nullable = true)
 |-- _c27: string (nullable = true)
 |-- _c28: string (nullable = true)
 |-- _c29: string (nullable = true)
 |-- _c30: string (nullable = true)
 |-- _c31: string (nullable = true)
 |-- _c32: string (nullable = true)
 |-- _c33: string (nullable = true)
 |-- _c34: string (nullable = true)

In [103]:
data1.show(5)

+-----------+-------------------+---+----------+-----------+-----+--------------------+-----+-----+----+--------------+-----------+------------+---------+---------+-------+-----------+-----------+-----------+----+----+------------------+------------------+------------------+---------------+--------------------+--------------------+----+--------------------+----+----------------+----+----+--------------------+----+
|        _c0|                _c1|_c2|       _c3|        _c4|  _c5|                 _c6|  _c7|  _c8| _c9|          _c10|       _c11|        _c12|     _c13|     _c14|   _c15|       _c16|       _c17|       _c18|_c19|_c20|              _c21|              _c22|              _c23|           _c24|                _c25|                _c26|_c27|                _c28|_c29|            _c30|_c31|_c32|                _c33|_c34|
+-----------+-------------------+---+----------+-----------+-----+--------------------+-----+-----+----+--------------+-----------+------------+---------+---------+-------+-----------+-----------+-----------+----+----+------------------+------------------+------------------+---------------+--------------------+--------------------+----+--------------------+----+----------------+----+----+--------------------+----+
|43314099999|2019-07-10T00:00:00|  4|     11.25| 75.7833333|  5.0|       KOZHIKODE, IN|FM-12|99999|V020|999,9,C,0000,1|99999,9,9,N|004000,1,9,9|+0228,113|+0228,114|10078,1|21,0800,3,1|   6,1,02,1|   2,1,02,1|_c19|_c20|03,1,+00800,1,06,1|99,9,+99999,9,03,1|99,9,+99999,9,00,1|           _c24|9,MSL   ,+99999,+...|07,99,1,03,1,99,9...|_c27|                _c28|_c29|9,9,999,9,-005,1|02,1|_c32|SYN06443314 21596...|_c34|
|71846099999|2019-09-02T02:00:00|  4|52.1833333|-87.9333333|253.0|LANSDOWNE HOUSE A...|  SAO|99999|V020|340,1,9,0015,1|99999,9,9,9|999999,9,9,9|  +0061,1|  +0031,1|10180,1|       null|       null|       null|null|null|              null|              null|              null|99999,9,09869,5|    1,1,025,1,+999,9|                null|null|AWY052WLF SA 0200...|null|            null|null|null|                null|null|
|71846099999|2019-09-02T03:00:00|  4|52.1833333|-87.9333333|253.0|LANSDOWNE HOUSE A...|FM-12|99999|V020|323,1,N,0011,1|99999,9,9,9|999999,9,9,9|  +0062,1|  +0037,1|10185,1|01,9999,9,9|06,9999,9,9|24,0002,3,1|null|null|              null|              null|              null|99999,9,09875,1|    1,1,019,1,+999,9|                null|null|          SYN004BUFR|null|            null|null|null|                null|null|
|71846099999|2019-09-02T03:00:00|  4|52.1833333|-87.9333333|253.0|LANSDOWNE HOUSE A...|  SAO|99999|V020|320,1,9,0010,1|99999,9,9,9|999999,9,9,9|  +0061,1|  +0037,1|10185,1|       null|       null|       null|null|null|              null|              null|              null|99999,9,09874,5|    1,1,019,1,+999,9|                null|null|AWY052WLF SA 0300...|null|            null|null|null|                null|null|
|71846099999|2019-09-02T04:00:00|  4|52.1833333|-87.9333333|253.0|LANSDOWNE HOUSE A...|  SAO|99999|V020|310,1,9,0015,1|99999,9,9,9|999999,9,9,9|  +0062,1|  +0034,1|10190,1|       null|       null|       null|null|null|              null|              null|              null|99999,9,09879,5|    2,1,016,1,+999,9|                null|null|AWY052WLF SA 0400...|null|            null|null|null|                null|null|
+-----------+-------------------+---+----------+-----------+-----+--------------------+-----+-----+----+--------------+-----------+------------+---------+---------+-------+-----------+-----------+-----------+----+----+------------------+------------------+------------------+---------------+--------------------+--------------------+----+--------------------+----+----------------+----+----+--------------------+----+
only showing top 5 rows

In [110]:
data1.count()

1426323

In [111]:
#delete index row
data1.where('_c0=="STATION"').count()

173

In [112]:
data2=data1.where('_c0!="STATION"')

In [113]:
data2.count()

1426150

In [159]:
#add index row
from pyspark.sql import SparkSession
#from pyspark.sql import functions._
#import pyspark.spark.sql.{SQLContext, Row, DataFrame, Column}
from pyspark.sql import Row,DataFrame,Column
from pyspark.sql import SQLContext
#from pyspark.ml import feature.VectorAssembler

In [160]:
newColumns = Seq("STATION","DATE","SOURCE","LATITUDE","LONGITUDE","ELEVATION","NAME","REPORT_TYPE", "CALL_SIGN","QUALITY_CONTROL","WND","CIG","VIS","TMP","DEW","SLP","GF1")
#val data2 = data2.toDF(newColumns:_*)

NameError: name 'Seq' is not defined

In [ ]:
newColumns

In [118]:
data2.withColumnRenamed("STATION","DATE","SOURCE","LATITUDE","LONGITUDE","ELEVATION","NAME","REPORT_TYPE", "CALL_SIGN","QUALITY_CONTROL","WND","CIG","VIS","TMP","DEW","SLP","GF1")\
.printSchema()

TypeError: withColumnRenamed() takes 3 positional arguments but 18 were given

In [98]:
import spark.implicits._

data1=seq(data).toDF("STATION","DATE","SOURCE","LATITUDE","LONGITUDE","ELEVATION","NAME","REPORT_TYPE","CALL_SIGN","QUALITY_CONTROL","WND","CIG","VIS","TMP","DEW","SLP","GF1")
#"STATION","DATE","SOURCE","LATITUDE","LONGITUDE","ELEVATION","NAME","REPORT_TYPE","CALL_SIGN","QUALITY_CONTROL","WND","CIG","VIS","TMP","DEW","SLP","GF1"

ModuleNotFoundError: No module named 'spark'

In [ ]:
#Convert Data Type

In [141]:
data2_converted=data2.withColumn("_c31", data2["_c31"].cast("float"))

In [142]:
data2_converted

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string, _c12: string, _c13: string, _c14: string, _c15: string, _c16: string, _c17: string, _c18: string, _c19: string, _c20: string, _c21: string, _c22: string, _c23: string, _c24: string, _c25: string, _c26: string, _c27: string, _c28: string, _c29: string, _c30: string, _c31: float, _c32: string, _c33: string, _c34: string]

In [145]:
#按station average
#https://sparkbyexamples.com/spark/using-groupby-on-dataframe/
data2_converted.groupBy("_c0").sum("_c31").show()

+-----------+---------+
|        _c0|sum(_c31)|
+-----------+---------+
|52818099999|     null|
|99404199999|     null|
|94367099999|     null|
|72253512909|     null|
|44305099999|     null|
|71136099999|     null|
|81908099999|     null|
|26657099999|     null|
|43344099999|     null|
|07460099999|     null|
|72656604965|     null|
|59046099999|     null|
|95146099999|     null|
|68375099999|     null|
|74778099999|     null|
|11022099999|     null|
|83424099999|     null|
|41933099999|     null|
|42871099999|     null|
|15247099999|     null|
+-----------+---------+
only showing top 20 rows

In [128]:
#Drop duplicate rows in pyspark by a specific column
data2_dropdup=data2.dropDuplicates((['_c0']))

In [130]:
data2_dropdup.count()

173

In [136]:
data2_dropdup.show(2)

+-----------+-------------------+---+----------+------+------+-------------------+-----+-----+----+--------------+-----------+------------+-------+-------+-------+----------------+---------------+------+--------------------+----+----+----+----+----+----+--------------------+----+----+----+---------------+----------------+----+----+----+
|        _c0|                _c1|_c2|       _c3|   _c4|   _c5|                _c6|  _c7|  _c8| _c9|          _c10|       _c11|        _c12|   _c13|   _c14|   _c15|            _c16|           _c17|  _c18|                _c19|_c20|_c21|_c22|_c23|_c24|_c25|                _c26|_c27|_c28|_c29|           _c30|            _c31|_c32|_c33|_c34|
+-----------+-------------------+---+----------+------+------+-------------------+-----+-----+----+--------------+-----------+------------+-------+-------+-------+----------------+---------------+------+--------------------+----+----+----+----+----+----+--------------------+----+----+----+---------------+----------------+----+----+----+
|52818099999|2019-01-01T00:00:00|  4|36.4166666|  94.9|2809.0|         GOLMUD, CH|FM-12|99999|V020|360,1,N,0000,1|22000,1,9,9|008000,1,9,9|-0135,1|-0227,1|99999,9|     06,9999,9,9|    24,9999,9,9|  null|                null|null|null|null|null|null|null|00,99,1,99,9,99,9...|null|null|null|99999,9,07277,1|7,1,002,1,+010,1|null|null|null|
|99404199999|2019-01-01T00:00:00|  4|    37.507|-122.2|   6.0|REDWOOD CITY, CA US|FM-13|99999|V020|010,1,N,0072,1|99999,9,9,N|999999,9,9,9|+0128,1|+9999,9|10170,1|2,1,005,1,+999,9|5,99,0103,1,999|+114,1|SYN080RTYC1 46///...|null|null|null|null|null|null|                null|null|null|null|           null|            null|null|null|null|
+-----------+-------------------+---+----------+------+------+-------------------+-----+-----+----+--------------+-----------+------------+-------+-------+-------+----------------+---------------+------+--------------------+----+----+----+----+----+----+--------------------+----+----+----+---------------+----------------+----+----+----+
only showing top 2 rows

In [131]:
# Drop rows with NA or missing values in pyspark
data2_dropna=data2_dropdup.dropna()
#似乎没必要dropna

In [132]:
data2_dropna.count()

1

In [134]:
data2_dropna.show()

+-----------+-------------------+---+-----+----------+---+-------------+-----+-----+----+--------------+-----------+------------+---------+---------+-------+-----------+--------+--------+----+----+------------------+------------------+------------------+----+--------------------+--------------------+----+----+----+----------------+----+----+--------------------+----+
|        _c0|                _c1|_c2|  _c3|       _c4|_c5|          _c6|  _c7|  _c8| _c9|          _c10|       _c11|        _c12|     _c13|     _c14|   _c15|       _c16|    _c17|    _c18|_c19|_c20|              _c21|              _c22|              _c23|_c24|                _c25|                _c26|_c27|_c28|_c29|            _c30|_c31|_c32|                _c33|_c34|
+-----------+-------------------+---+-----+----------+---+-------------+-----+-----+----+--------------+-----------+------------+---------+---------+-------+-----------+--------+--------+----+----+------------------+------------------+------------------+----+--------------------+--------------------+----+----+----+----------------+----+----+--------------------+----+
|43314099999|2019-07-10T00:00:00|  4|11.25|75.7833333|5.0|KOZHIKODE, IN|FM-12|99999|V020|999,9,C,0000,1|99999,9,9,N|004000,1,9,9|+0228,113|+0228,114|10078,1|21,0800,3,1|6,1,02,1|2,1,02,1|_c19|_c20|03,1,+00800,1,06,1|99,9,+99999,9,03,1|99,9,+99999,9,00,1|_c24|9,MSL   ,+99999,+...|07,99,1,03,1,99,9...|_c27|_c28|_c29|9,9,999,9,-005,1|02,1|_c32|SYN06443314 21596...|_c34|
+-----------+-------------------+---+-----+----------+---+-------------+-----+-----+----+--------------+-----------+------------+---------+---------+-------+-----------+--------+--------+----+----+------------------+------------------+------------------+----+--------------------+--------------------+----+----+----+----------------+----+----+--------------------+----+